* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
   
 background-image: url('https://images-na.ssl-images-amazon.com/images/I/31lvuwTxF4L._AC_SY355_.jpg');
  background-repeat:repeat;
}

#menue {
    margin-left: 30px;
    line-height: 30px;
    color: white;
	
}

#div1:hover #menue {
    color:#E7A1B0;
    display: flex;
}

body #div {
    margin-left: 90px;
    width: 1200px;
    margin-right: 20px;
}

#text{
    font-size: 60px;
    text-align: center;
    line-height: 70px;
    color:#E7A1B0;
	 text-shadow:  3px 2px 5px #000, 
               5px 3px 3px hotpink; 
	font-style: italic;
	font-family: sans-serif;
	 
}

#div1 {
    position: absolute;
    bottom: 0px;
	
}

header div div {
    display: none;
}

header div:hover div {
    display: flex;
    flex-direction: column;
    background-color: rgb(95, 84, 84);
    position: absolute;
    bottom: -21px;
    transform: translate(10%, 30%);
    width: 10%;
    left: 30px;
}

span {
    line-height: 27px;
    width: 150px;
    background-color: rgb(141, 146, 140);
    border: 1px solid white;
    color: rgb(226, 190, 31);
}

span:hover {
    background-color: rgb(95, 84, 84);
}

header {
    margin-top: 40px;
      width: 1086px;
    height: 130px;
    position: relative;
    background-color: snow;
	
	
}

header div {
    width: 1086px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    background-color: rgb(172, 155, 155);
}





span a {
    margin-left: 5px;
    color: #e6e6fa;
    text-decoration: none;
}

span a:hover {
   color:#E7A1B0;
    background-color: rgb(95, 84, 84);
}



#div main {
    
    background-color: rgb(242, 247, 247);
}

main aside {
    width: 210px;
    float: right;
    background-color:#F5F5F5;
    position: relative;
	height:832px;
	right:7.2%;
	border:solid #B9B9B9;
	
}

section {
    width: 950px;
    float: left;
    border-right: 1px solid hsl(0, 22%, 90%);
    background-color:snow;
	
	
}

article {
    clear: both; 
    width: 100%;
     padding:6px;
     height:300px;	 
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 300px;
    height: 200px;
    padding: 5px;
    margin: 11px;
    border: 3px solid #eeeeee;
}

figcaption {
    text-align: left;
}

img {
    width: 300px;
    height: 180px;
}

img.SMlogo {
    width: 50px;
    height: 40px;
    position: relative;
    top: 10px;
}

aside div {
    margin-left:5%;
    width: 100%;
    height:266px;
    float: left;
	left:40%;
		
}


aside div a {
    display: block;
    padding: 10px;
    width: 300px;


}
aside{
      padding:3px;
	  margin-right:27px;
	  width: 78%;
      float: left;}

 h2, h3, h4 {
    font-weight: italic;
    color: #4B4739;
}

h2 {
    margin: 10px 0px 5px 1px;
    padding: 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: #9A8B7B;
}

footer {
       width: 1086px;
    margin-left:91px;
    margin-right: 25px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 35px;
	background-color: rgb(172, 155, 155);
	color:white;

}
.oooi {
    border-radius: 50%;
}
#h1{
	 font-size: 40px;
    text-align: center;
    line-height: 70px;
	color:#9370DB;
	text-shadow:2px 3px 4px gray;
}

#1{
    width: 950px;
    height: 500px;
    float: center;
    border-right: 1px solid hsl(0, 22%, 90%);
    background-color: hsl(0, 24%, 96%);
}

#dd{
position:relative;
left:33%;	
width:158px;
height:194px;
top:-2%;
}
a{text-decoration: none;}
#d2{
	float:right;
	position:relative;
	right:90%;
	left:-10%;
	color:#9494b8;
	border: dashed #9370DB;
	margin:62px;
	padding:30px;
	border:solid #B9B9B9;
	background-image: url('https://image.freepik.com/free-photo/pink-cloth-background_46250-2399.jpg');
	color: #7D796B;
	 border-radius: 11px;
	 box-shadow:  12px 12px 5px 3px rgba(4, 4, 123, .1);
	 
}

#d3{
	float:right;
	position:relative;
	right:90%;
	left:-10%;
	color:#9494b8;
	border: dashed #9370DB;
	margin:62px;
	padding:30px;
	border:solid #B9B9B9;
	background-image: url('https://image.freepik.com/free-photo/pink-cloth-background_46250-2399.jpg');
	color: #7D796B;
    border-radius: 11px;
	box-shadow:  12px 12px 5px 3px rgba(4, 4, 123, .1);
}
#set2{height:600%;}

#3{ width:800; height:600;}

#1{top:10%;}
img.img1{
	height:250px;
	width:350px;
	top:2%;
	 border-radius: 11px;
	
}
#h11{
	padding:4%;
    margin-left:27%;
	color:#5F5B4D;
	font-size:33px;
	text-shadow: 2px 3px 8px hotpink;}

.font{color:#5F5B4D;
      text-align: center;}
.font3{color: #696557;}
#si{
	float:left;
	position:relative;
	left:9%;
    margin:25px;
	padding:4px;
	color:#5F5B4D;
	text-shadow: 1px 1px 2px hotpink;
	font-size:17px;
	
}