* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
   
  background-image: url('https://i.pinimg.com/originals/50/f9/30/50f930fa3f7094b2107dfb862d578b23.jpg');
  background-repeat:repeat;
}

#menue {
    margin-left: 30px;
    line-height: 30px;
    color: white;
}

#div1:hover #menue {
   color:#E7A1B0;
    display: flex;
}

body #div {
    margin-left: 25px;
    width: 1300px;
   height: 500px;
}

#text {
    font-size: 80px;
    text-align: center;
    line-height: 70px;
	color:#E7A1B0;
}

#div1 {
    position: absolute;
    bottom: 0px;
}

header div div {
    display: none;
}

header div:hover div {
    display: flex;
    flex-direction: column;
    background-color: rgb(95, 84, 84);
    position: absolute;
    bottom: -21px;
    transform: translate(10%, 30%);
    width: 10%;
    left: 30px;
}

span {
    line-height: 27px;
    width: 150px;
    background-color: rgb(141, 146, 140);
    border: 1px solid white;
    color: rgb(226, 190, 31);
}

span:hover {
    background-color: rgb(95, 84, 84);
}

header {
    margin-top: 20px;
    width: 1300;
    height: 110px;
    position: relative;
background-color: snow;}

header div {
    width: 1300px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    background-color: rgb(172, 155, 155);
}





span a {
    margin-left: 5px;
    color: #e6e6fa;
    text-decoration: none;
}

span a:hover {
    color:#E7A1B0;
    background-color: rgb(95, 84, 84);
}



#div main {
   /* width: 100%;
    height: 500px;*/
    background-color: rgb(242, 247, 247);
}

main aside {
    width: 349px;
    float: right;
    background-color: hsl(0, 24%, 96%);
    position: relative;
}

section {
    width: 950px;
    float: left;
    border-right: 1px solid hsl(0, 22%, 90%);
      background-color: snow;
	
}

article {
    clear: both; 
    width: 100%;	
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 3px solid #eeeeee;
}

figcaption {
    text-align: left;
}

img {
    width: 300px;
    height: 180px;
}

img.SMlogo {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
}

aside div {
    margin-left: 20px;
    width: 100%;
    height: 250px;
    float: left;
	height:246px;
}


aside div a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    width: 300px;
	
}

h1, h2, h3, h4 {
    font-weight: italic;
    color: #4A3928;
}

h2 {
    margin: 10px 0px 5px 1px;
    padding: 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: #9A8B7B;
}

footer {
    width: 1300px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(133, 127, 127);
	height:30px;
}
.oooi {
    border-radius: 50%;
}
#h1{
	 font-size: 40px;
    text-align: center;
    line-height: 70px;
	color:#9370DB;
	text-shadow:2px 3px 4px gray;
}

#1{
    width: 950px;
    height: 500px;
    float: center;
    border-right: 1px solid hsl(0, 22%, 90%);
    background-color: hsl(0, 24%, 96%);
}

#dd{
position:relative;
left:30%;	
width:1000px;
height:170px;
left:30%;
}
a{text-decoration: none;}
#d2{
	float:left;
	position:relative;
	border: dashed #9370DB;
	left:20%;
    text-align:center;
    color:#9494b8;
    margin:25px;
	padding:4px;
}

#d3{
	float:right;
	position:relative;
	right:90%;
	left:-10%;
	color:#9494b8;
	border: dashed #9370DB;
	margin:25px;
    text-align:center;
	padding:0px 2px 24px 2px;
}
#set2{height:492px;}

#3{ width:800px; height:600px;}

.divss{height:zpx;}